<div class="row mb-3">
  <div class="col">
    <button mat-icon-button (click)="goBack()" color="basic" align="end">
      <i class="fa-solid fa-arrow-left-long fa-xl"></i>
    </button>
  </div>
</div>
<app-dynamic-form
  [title]="title"
  [service]="serviceName"
  [fields]="fields"
  [create]="create"
  [edit]="edit"
  [id]="id"
  [height]="height"
  [width]="width"
  (submit)="onClose($event)"
></app-dynamic-form>
<div class="row" *ngIf="id">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab [label]="tabTitle">
      <app-employee-list [clientId]="id"></app-employee-list>
    </mat-tab>
  </mat-tab-group>
</div>
