<div class="wrapper">
  <div class="hold-transition login-page bg-blue-color">
    <div class="login-box">
      <div class="login-logo">
        <a [routerLink]="['/']">
          <!-- <img src="../../../../../assets/icons/SIDE elefante_solo_fondos escuros.png"> -->
        </a>
      </div>
      <!-- /.change-password-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">{{ "change-password.title" | translate }}</p>

          <form
            class="form"
            #form="ngForm"
            [formGroup]="reactiveForm"
            (ngSubmit)="onSubmit()"
          >
            <mat-form-field class="full-width">
              <input
                autofocus
                matInput
                formControlName="Password"
                type="password"
                [placeholder]="'change-password.current-password' | translate"
              />

              <mat-button
                matSuffix
                *ngIf="isPasswordVisibileOne"
                (click)="onChangePasswordTextVisibilityOne()"
                class="fa-solid fa-eye-slash"
              ></mat-button>
              <button
                matSuffix
                *ngIf="!isPasswordVisibileOne"
                (click)="onChangePasswordTextVisibilityOne()"
                class="fa-solid fa-eye"
              ></button>
            </mat-form-field>

            <mat-form-field class="full-width mb-4">
              <input
                matInput
                formControlName="NewPassword"
                [type]="passwordFieldTypeDefinitionOne"
                [placeholder]="'change-password.new-password' | translate"
              />
              <mat-hint class="mb-0 mt-2">
                {{ "change-password.password-policy" | translate }}
              </mat-hint>

              <mat-button
                matSuffix
                *ngIf="isPasswordVisibileOne"
                (click)="onChangePasswordTextVisibilityOne()"
                class="fa-solid fa-eye-slash"
              ></mat-button>
              <button
                matSuffix
                *ngIf="!isPasswordVisibileOne"
                (click)="onChangePasswordTextVisibilityOne()"
                class="fa-solid fa-eye"
              ></button>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input
                matInput
                formControlName="ConfirmNewPassword"
                [type]="passwordFieldTypeDefinitionTwo"
                [placeholder]="'change-password.confirm-password' | translate"
              />
              
              <mat-button
                matSuffix
                *ngIf="isPasswordVisibileTwo"
                (click)="onChangePasswordTextVisibilityTwo()"
                class="fa-solid fa-eye-slash"
              ></mat-button>
              <button
                matSuffix
                *ngIf="!isPasswordVisibileTwo"
                (click)="onChangePasswordTextVisibilityTwo()"
                class="fa-solid fa-eye"
              ></button>
            </mat-form-field>

            <div class="row">
              <div class="col">
                <button class="btn btn-secondary btn-block" (click)="onBack()">
                  {{ "change-password.back" | translate }}
                </button>
              </div>
              <!-- /.col -->
              <div class="col">
                <button
                  class="btn btn-primary btn-block"
                  [disabled]="!reactiveForm.valid"
                >
                  {{ "change-password.save" | translate }}
                </button>
              </div>
              <!-- /.col -->
            </div>
          </form>
          <!-- /.change-password-card-body -->
        </div>
      </div>
      <!-- /.change-password-box -->
    </div>
  </div>
</div>
