<div class="center-content">
  <div class="error-page">
    <h2 class="headline text-warning">404</h2>

    <div class="error-content">
      <h3>
        <i class="fas fa-exclamation-triangle text-warning"></i>
        {{ "page-not-found.title" | translate }}
      </h3>

      <p>
        {{ "page-not-found.description" | translate }}
        <a [routerLink]="['/home']">{{
          "page-not-found.return-home" | translate
        }}</a>
      </p>
    </div>
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
</div>
<!-- ./wrapper -->
