<mat-form-field
  class="full-width"
  appearance="outline"
  [formGroup]="group"
  *ngIf="field.visible"
>
  <mat-label>{{ field.label | translate }}</mat-label>
  <input
    matInput
    [formControlName]="field.name"
    [placeholder]="field.label | translate"
    [type]="getInputType(field.inputType)"
  />
  <ng-container
    *ngFor="let validation of field.validations"
    ngProjectAs="mat-error"
  >
    <mat-error *ngIf="group.get(field.name)?.hasError(validation.name)">{{
      validation.message
    }}</mat-error>
  </ng-container>
</mat-form-field>
